<h1>Create a user profile </h1>

<%= form_for(@user) do |f| %>
  <i><%= f.label :name %></i>
  <%= f.text_field :name %>
  <div>
  <i><%= f.label :age %></i>
  <%= f.text_field :age %>
  <div>
  <i><%= f.label :bio %></i>
  <%= f.text_area :bio %>
  <div>
  <i><%= f.label :Image %></i>
  <%= f.text_field :img_url %>
  <div>
  <i><%= f.label :username %></i>
  <%= f.text_field :username %>
  <div>
  <i><%= f.label :password %></i>
  <%= f.password_field :password %>
  <div>

  <%= f.submit class: 'button'%>
<% end %>
