
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 680px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<div class="row">
  <div class="column" style="background-color:#fff;">
  <h1>Login</h1>
  <% if @error %>
      <p style="color: red;"><%= @error %></p>
      <%end%>
  
      <%= form_tag do %>
        <div>
          <i><%= label_tag("Username: ") %></i>
          <%= text_field_tag (:username) %>
        </div>
          <i><%= label_tag ("Password: ") %></i>
          <%= password_field_tag (:password) %>
          <div>
          <%= submit_tag("login") %>
          <%end%> </div>
  
  </div>
  <div class="column" style="background-color:#bbb;">
  <%= render("form") %>
  </div>
</div>

</body>
</html>

