<h1>Planet: <%=@note.title%></h1>

<p>Field Notes: <%=@note.blog%></p>

<h3>My Image Gallery</h3>

<img src ="<%=@note.img_url%>" class="note_pic">
<br></br>

<%=link_to("Edit this note", edit_note_path(@note), method: :get, class: "btn")%>
<%=link_to("Delete this Note", note_path(@note), method: :delete, class: "btn")%>





