
<img src = "<%= @planet.img_url%>" class="land_image">
<h1>Planet Name: <i><%=@planet.name%></h1></i>
<p>Terrain: <i><%=@planet.terrain%></p></i>
<p>Temperature: <i><%=@planet.temp_range%></p></i>
<p>Vegetation: <i><%=@planet.vegetation%></p></i> 
<p>Animals: <i><%=@planet.animals%></p></i>
<p>Creatures: <i><%=@planet.local_beings%></p></i>

<br>
<br>
<h1>Planet Reviews</h1>
<%@reviews.each do |review| %>
    <%= link_to("#{review.title}", review_path(review)) %>
    <%end%>


