<h1><%=@planet.name%></h1>
<h3><%=@planet.terrain%></h3>
<h3><%=@planet.temp_range%></h3>
<h3><%=@planet.vegetation%></h3>
<h3><%=@planet.animals%></h3>
<h3><%=@planet.local_beings%></h3>
<h3><%=@planet.backpack%></h3>


