
<h1><%=@reservation.user.name%>'s new reservation</h1>
<img src= "<%=@reservation.planet.img_url%>" class="res_img"><br />
<p>Planet: <%=@reservation.planet.name%></p>
<p>Date: <%=@reservation.date_time%></p>
<p>Cost: <%=@reservation.cost%></p>
