
<h1>Planet Name: <%=@review.planet.name%></h1>
<h3>Trip rating: <%=@review.rating%></h3>
<h3>Review Title: <%=@review.title%></h3>
<h3>User Name: <%=@review.user.name%></h3>
<h3>Review: <%=@review.planet_review%></h3>
     <%= link_to("Delete this review",
            review_path(@review), method: :delete) %>
<h3>Images taken by <%= @review.user.name %></h3>
<img src= "<%= @review.img_url %>" width= "400" height="200">