
<h1>Planet Name: <%=@review.planet.name%></h1>
<p>Trip rating: <i><%=@review.rating%></p></i>
<p>Review Title: <i><%=@review.title%></p></i>
<p>User Name: <i><%=@review.user.name%></p></i>
<p>Review: <i><%=@review.planet_review%></p></i>
<br></br>
 <div>   
<h4>Images by <i><%= @review.user.name %></h4></i>
<img src= "<%= @review.img_url %>" id="review_img">
</div>


 <br></br>
 <%= link_to("Delete this review", review_path(@review), method: :delete, class:"btn") %>