<!DOCTYPE html>
<html>
  <head>
    <title>Campingapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=button_to("login", login_path, method: :get)%>
  <%=button_to("logout", logout_path, method: :delete)%>
  <p> <%= flash[:info] %></p>
    <%= yield %>
  </body>
</html>
